@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.section1{
    background-image: url('../img/breadcrumb-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    position: relative;
}
.section1 .content{
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 150px;
    text-align: center;
}
.section1 .content p{
    color: #f2872f;
    font-weight: 700;
    letter-spacing: 7px;
    font-size: 15px;
}
.section1 .content h1{
    color: white;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 700;
}
.section2{
    margin: 150px 0;
}
.section2 .container-fluid{
    padding-left: 120px; 
}
.section2 .col-lg-7{
    padding-right: 40px;
}
.section2 h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.9;
}
.section2 span{
    color: #f2872f;
}
.section2 .fas{
    text-decoration: none;
    font-size: 20px;
    padding: 22px;
    height: 70px;
    width: 70px;
    color: #f2872f;
    border-radius: 50%;
    border-style: dotted;
    border-color: #f2872f;
    text-align: center;
}
.section2 .col-md-6{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.section2 .exp{
    padding-left: 15px;
}
.section2 h3{
    font-size: 18px;
    font-weight: 700;
}
.section2 p{
    opacity: 0.8;
    font-size: 15px;
    line-height: 1.8;
}
.section2 .col-lg-5{
    background-image: url(../img/feature-bg.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}
.section3{
    background-image: url(../img/1.jpg);
    padding: 110px 0 105px;
}
.section3 .container{
   padding: 0 20px;
}
.section3 .container .discount h2{
    font-size: 50px;
    font-weight: 700;
}
.section3 .container .discount span{
    color: #f2872f;
}
.section3 .sale span{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    display: inline-block; 
    color: #000000;
    line-height: 1.1;

}
.section3 .sale{
    font-size: 60px;
    font-weight: 700;
    color: #f2872f;
}
.section3 a{
    background-color: #f2872f;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    display: inline-block;
    margin-top: 7px;
}
.section3 a:hover{
    color:#f2872f;
    background-color: #000000;
}
.section4{
    padding-top: 150px;
    text-align: center;
}
.section4 h3{
    font-weight: 700;
    font-size: 40px;
}
.section4 span{
    color: #f2872f;
}
.underline1{
    height: 2px;
    width: 57px;
    background-color: #f2872f;
    margin: 0 auto;
    border-radius: 10px;    
}
.section4 .content p{
    margin: 0 auto;
    font-size: 15px;
    width: 530px;
    margin-top: 20px;
    line-height: 1.8;
}
.section4 .team-img{
    padding-top: 100px;
}
.section4 img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;   
}
.section4 ul{
    list-style: none;
    padding-left: 110px;
    margin-top: -48px;
    position: absolute;
    
}
.section4 ul li{
    display: inline-block;
}
.section4 ul a{
    background-color: #f2872f;
    color: white;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 5px;
}
.section4 ul a:hover{
    color: #f2872f;
    background-color: #000000;
}
.section4 .item{
    text-align: center;
    margin: 0 auto;
}
.section4 .item h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}
.section4 .item p{
    opacity: 0.8;
    font: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.section5 {
    padding: 100px;
    align-items: center;
    text-align: center;
}
.section5 .active {
    background-color: white;
}
.section5 .carousel-inner img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.section5 .carousel-inner .review {
    width: 80%;
    margin: 0 auto;
}
.section5 .carousel-inner .review h2{
    font-weight: 700;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 23px;
}
.section5 .carousel-inner .review h3{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 35px;
    letter-spacing: 0.5px;
    color: rgb(169, 169, 169);
}
.section5 .carousel-inner .review p{
    font-size: 17px;
    line-height: 30px;
    color: #9c9b9b;
    margin-bottom: 32px;
}
.section5 .quote{
    width: 65%;
    margin: 0 auto;
}
.section5 .quote .fas{
    color: rgb(169, 169, 169);
    font-size: 30px;
}
.section6{
    height: 220px;
    padding: 50px 0;
    background-color: #f1f1f1;
}
.section6 .container{
    padding: 0 20px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 114px;
    max-width: 180px;
    margin: 0 auto;
}
#owl-demo .owl-dot{
    display: none;
}


/* media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .section2 .col-lg-7{
        padding-right: 100px;
    }
    .section2 .col-lg-5{
        display: none;
    }
    .section4 .col-lg-4{
        width: 50%;
        margin-bottom: 20px;
    }
    .section4 .col-lg-4.last{
        margin: 0 auto;
    }
    .section5 .carousel-inner .review {
        width: 90%;        
    }
}

/* media query for mobile phones */

@media only screen and (min-width:  576px) and (max-width: 767px){
    .section1 .content{
        padding-top: 100px;
    }
    .section1 .content h1{
        font-size: 30px;
    }
    .section2 .col-lg-7{
        padding-right: 100px;
    }
    .section2 .col-lg-5{
        display: none;
    }
    .section3 .container .discount h2{
        font-size: 34px;
    }
    .section4 .content p{
        width: 290px;
    }
    .section4 img{
        height: 450px;
    }
    .section4 ul{
        position: relative;
        padding-left: 0;
    }
    .section4 .col-lg-4{
        margin-bottom: 20px ;
    }
}

/* media query for small mobiles */
@media only screen and (min-width:  380px) and (max-width: 575px){
    .section1 .content{
        padding-top: 100px;
    }
    .section1 .content h1{
        font-size: 30px;
    }
    .section2 .col-lg-7{
        padding-right: 15px;
    }
    .section2 .container-fluid{
        padding-left: 15px; 
    }
    .section2 h2{
        font-size: 30px;
    }
    .section3 .container .discount h2{
        font-size: 34px;
    }
    .section4 h3{
        font-size: 25px;
    }
    .section4 .content p{
        width: 70%;
    }
    .section4 .team-img{
        padding-top: 50px;
    }
    .section4 img{
        height: 450px;
    }
    .section4 ul{
        position: relative;
        padding-left: 0;
    }
    .section4 .col-lg-4{
        margin-bottom: 20px ;
    }
    .section5 .carousel-inner .review {
        width: 90%;
    }
    .section5 .carousel-inner .review h2{
        font-size: 20px;
    }
    .section5 .carousel-inner .review p{
        font-size: 15px;
    }
}
