@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.section1{
    background-image: url('../img/breadcrumb-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    position: relative;
}
.section1 .content{
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 150px;
    text-align: center;
}
.section1 .content p{
    color: #f2872f;
    font-weight: 700;
    letter-spacing: 7px;
    font-size: 15px;
}
.section1 .content h1{
    color: white;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 700;
}
.section2{
    padding: 150px 0;
}
#myBtnContainer{
    margin-bottom: 100px;
    text-align: center;
}
.section2 button{
    font-weight: 700;
    font-size: 18px;
    margin: 15px;
    border: 2px solid black;
    color: #323232;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 25px;
}
#myBtnContainer .active{
    color: white;
    border-color: #f2872f;
    background-color: #f2872f;
}
.section2 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    border: none;
    margin-bottom: 30px;
}
.section2 .card:hover{
    box-shadow: none;
}
.section2 img{
    width: 80%;
    margin-bottom: 20px;
    align-self: center;
}
.section2 h3{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}
.section2 h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}
.shopping-cart-button{
    background-color: #f2872f;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 50px;
    align-self: center;
    color: white;
    text-decoration: none;
}
a .fas{
    margin-right: 10px;
}
.section2 .shopping-cart-button:hover{
    background-color: black;
    color: #f2872f;
}
.filterDiv {
    float: left;
    display: none;
}
  
.show {
    display: block;
}
.section2 .container {
    overflow: hidden;
    margin: 0 auto;
}
.section2 .row{
    --bs-gutter-x: 0rem;
}
.col-lg-12{
    text-align: center !important;
}
.section2 .page{
    padding-top: 40px;
}
.section2 .page li{
    list-style: none;
    text-align: center;
    display: inline-block;
    
}
.section2 .page li a{
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 14px;
    color: #767676;
    border-radius: 50px;
    text-decoration: none;
    background-color: #eeeeee;
    margin: 4px;
}
.section2 .page li .active{
    background-color: #f2872f;
}
.section2 .page li a:hover{
    background-color: #f2872f;
}

.section3{
    padding: 50px 0;
    background-color: #f1f1f1;
}
.section3 .container{
    padding: 0 20px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 114px;
    max-width: 180px;
    margin: 0 auto;
}
#owl-demo .owl-dot{
    display: none;
}
/* media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .col-sm-4{
        width: 50% !important;
    }
}

/* media query for mobile phones */

@media only screen and (min-width:  576px) and (max-width: 767px){
    .section1 .content{
        padding-top: 100px;
    }
    .section1 .content h1{
        font-size: 30px;
    }
    .col-sm-4{
        width: 100% !important;
    }
}

/* media query for small mobiles */
@media only screen and (min-width:  380px) and (max-width: 575px){
    .section1 .content{
        padding-top: 100px;
    }
    .section1 .content h1{
        font-size: 30px;
    }
}
